body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Webkit-based browsers (Chrome, Safari) */
        ::-webkit-scrollbar {
            width: 8px;
            /* Width of the scrollbar */
            height: 12px;
            /* Height of the scrollbar for horizontal scroll */
        }
    
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
            /* Background of the scrollbar track */
            border-radius: 10px;
            /* Round corners */
        }
    
        ::-webkit-scrollbar-thumb {
            background: #888;
            /* Color of the scrollbar thumb */
            border-radius: 10px;
            /* Round corners */
            border: 2px solid #f1f1f1;
            /* Padding around thumb */
        }
    
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
            /* Darker color on hover */
        }
    
        ::-webkit-scrollbar-corner {
            background: #f1f1f1;
            /* Color of the bottom-right corner where horizontal and vertical scrollbars meet */
        }
    
        /* Firefox */
        body {
            scrollbar-width: thin;
            /* Makes scrollbar thin */
            scrollbar-color: #888 #f1f1f1;
            /* Thumb color, track color */
        }
    
        /* For all browsers */
        .scrollable {
            overflow-y: scroll;
            /* Enables vertical scrolling */
            overflow-x: hidden;
            /* Disables horizontal scrolling */
            max-height: 200px;
            /* Set the height where scroll appears */
        }
}

@tailwind base;
@tailwind components;
@tailwind utilities;